@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TimeTable</h1>
    <p class="lead">Developers: Boyko Anton and Gerasymchuk Igor </p>
</div>

<div class="row">
    <h1>
        <h3>Складається з підсистем:</h3> <br>1) підсистема створення розкладу
        (аудиторії, групи, викладачі, дисципліни),<br> 2) підсистема
        виведення розкладу (аудиторії, групи, викладачі, підрозділи),
        <br>3) підсистема статистики.<br><h3> Ролі користувачів:</h3><br> адміністратор,<br>
        редактор, <br>управлінський склад, <br>викладач, <br>студент.<br> Редактор
        може змінювати інформацію про розклад.<br> Управлінський
        склад може переглядати увесь розклад по кожному зі
        фільтрів (аудиторії, групи, викладачі, дисципліни). <br>Викладачі
        можуть переглядати свій розклад та розклад будь-яких груп.<br>
        Студент може переглядати тільки розклад груп.<br>
        Неавторизований користувач не повинен мати доступу до
        розкладу.
    </h1>
     
</div>