@{
    ViewBag.Title = "Electronic timetable";
}

<p class="lead">@ViewBag.Message </p>

<div class="row">
    <form action="" method="post">
        <div class="row">
            <input type="text" placeholder="Login" class="center-block input-lg" id="loginTxt" name="login" />
        </div>

        <div class="row">
            <input type="password" placeholder="Password" class="center-block input-lg" id="passwordTxt" name="password" />
        </div>

        <div class="row">
            <input type="submit" class="center-block btn" value="Login" />
        </div>
    </form>

    <div class="center-block">
        @Html.ActionLink("Not yet register? Sign Up", "SingUp", "Home")
    </div>
</div>